<!DOCTYPE html>
<html>
    <head>
        <title>About WalletCoin</title>
        <link href="../static/style.css" rel="stylesheet">
        <link  rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    </head>

    <body class="Background">
        <ul class="FrameUP">
            <li class="FrameUPDashboard">
                <a class="FrameButton" href="dashboard">
                    <strong>Dashboard</strong>
                </a>
            </li>

            <li class="FrameUPTransaction">
                <a class="FrameButton" href="transaction">
                    <strong>Transaction</strong>
                </a>
            </li>
        
            <li class="FrameUPBuy">
                <a class="FrameButton" href="buy">
                    <strong>Buy</strong>
                </a>
            </li>
        
            <li class="FrameUPLogout">
                <a class="FrameButton" href="logout">
                    <strong>Logout</strong>
                </a>
            </li>
        </ul>

        
        <h3 class="ClassicTitle">About WalletCoin</h3>
        <div class="AboutWalletCoin">
            <div class="WhatIsWalletCoin">
                <div class="ClassicText">
                    <strong>A new cryptocurrency is here!</strong><br>
                    <p id="AboutWalletCoin-P">
                        WalletCoin is a new cryptocurrency which developed and released in 2022<br>
                        Its a very easy to use cryptocurrency on the www with a very easy REST API<br>
                        for developers. The mission for WalletCoin is to solve economical problems.<br>
                        and give to game developers an easy way to monetize their game ( scroll <br>
                        down for more information ). At the begining, Buy a big amount of WalletCoins<br>
                        and wait until its price increased!
                    </p>
                </div>
                <img id="WhatIsWalletCoin-Icon" src="{{ url_for('static', filename='Icons/68169-isometric-bitcoin-cryptocurrency.gif') }}">
            </div>

            <div class="InvestInWalletCoin">
                <div class="ClassicText">
                    <strong>The new investment method for Gamers !!</strong>
                    <p id="AboutWalletCoin-P">
                        -Hey... What do you mean " for Gamers "... maybe you mean " for investors "<br>
                        -No, I mean for Gamers !!! Yeah its very cringe but... the idea of WalletCoin<br>
                        is not to be a simple cryptocurrency... WalletCoin is a way to make money by<br>
                        investing in games. In few words, it is a Stock Market for games !!! You can<br>
                        create a page for your game in WalletCoin's web and define an amount of<br>
                        stocks, Other investors will buy these stocks using their WalletCoins. The value<br>
                        of your game will be increased when someone pay to play your game or donate<br>
                        it ( using its REST API ). The value of stocks is defined with this way:<br>
                        Divide the game's economy ( the amount of WalletCoins it has got ) with the<br>
                        amount of stocks its users owns and you will find the value of one Stock
                        <br>
                        ( Your Game's economy )  /  ( The amount of stocks owned by users )
                    </p>
                </div>
                <img id="InvestInWalletCoin-Icon" src="{{ url_for('static', filename='icons/16952-group-working.gif') }}">
            </div>

            <div class="SecureNetworkForAll">
                <div class="ClassicText">
                    <strong>A Friendly and Secure network for all users !!</strong>
                    <p id="AboutWalletCoin-P">
                        Also WalletCoin provides a Friendly and secure network for its Users.<br>
                        There are safe methods to send your data in the server and some new<br>
                        methods are aplyed by the creator of WalletCoin when he discover them!
                    </p>
                </div>
                <img id="SecureNetworkForAll-Icon" src="{{ url_for('static', filename='Icons/20545-illustration-cybersecurity-as-a-service.gif') }}">
            </div>
        </div>


        <div style="padding-bottom: 250px;"></div>
        <div class="CopyRight">
            <div id="WalletCoinTitle">
                <h2 id="WalletCoinTitleText">WalletCoin</h2>
            </div>
            <div id="Sources">
                <br>
      
                <table class="SourcesTable">
                    <tr class="Sources-Sources">
                        <th class="SourcesTitle">Sources</th>
                        <th class="SourcesTitle">About</th>
                        <th class="SourcesTitle">Community</th>
                    </tr>
      
                    <tr class="Sources-Line-0">
                        <td class="SourcesItem">
                            <a class="SourceText" href="RESTfulApi">Rest Api</a>
                        </td>
                        <td class="SourcesItem">
                            <a class="SourceText" href="About">About</a>
                        </td>
                        <td class="SourcesItem">
                            <a class="SourceText"
                                href="https://www.youtube.com/channel/UC2tFLggEqPZw3w83dGvPteQ">Youtube</a>
                        </td>
                    </tr>
      
                    <tr class="Sources-Line-1">
                        <td class="SourcesItem"></td>
                        <td class="SourcesItem">
                            <a class="SourceText" href="FAQ">FAQ</a>
                        </td>
                        <td class="SourcesItem">
                            <a class="SourceText">Discord</a>
                        </td>
                    </tr>
      
                    <tr class="Sources-Line-2">
                        <td></td>
                        <td class="SourcesItem">
                            <a class="SourceText" href="helpCenter">Help Center</a>
                        </td>
                        <td class="SourcesItem">
                            <a class="SourceText">Instagram</a>
                        </td>
                    </tr>
                </table>
                <br><br>
            </div>
      
            <div id="CopyRightTitle">
                <span id="CopyRightTitleText">
                    <strong>Copyright © WalletCoin 2021</strong>
                </span>
            </div>
        </div>
    </body>
</html>
