{% extends 'layout.html' %}

{% block body %}

<head>
  <link href="../static/style.css" rel="stylesheet">
  <link  rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>


<p id="BlockchainDataText">
  <strong>Your balance: </strong>{{ Balance }} WLLC<br>
  <strong>Your balance Price: </strong>{{ Price }} EUR
</p>


<button id="Show-Hide-PrivateData" type="button">
  <strong>Show PrivateKey & AccessToken</strong>
</button>


<p id="BlockchainDataText">
  <strong>Wallet Address: </strong>{{ WalletAddress }}<br>
  <strong id="PrivateKeyText"></strong><br>
  <strong id="AccessTokenText"></strong>
</p>
<br>


<table class="BlockchainTable">
  <thead class="BlockchainHead">
    <tr id="BlockchainHead-TR">
      <th>Number</th>
      <th>Transaction</th>
      <th>Hash</th>
    </tr>
  </thead>

  <tbody class="Blockchain">
    {% for Block in BlocksList %}
      <tr id="Blockchain-TR">
        <td id="Blockchain-TD">
          <strong>{{ Block.Number }}</strong></td>
        <td id="Blockchain-TD">
          <strong>{{ Block.Data }}</strong></td>
        <td id="Blockchain-TD">
          <a style="color: teal;" href="block?number={{ Block.Number }}">
            <strong>{{ Block.Hash }}</strong>
          </a>
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>

<div style="padding-bottom: 100px;"></div>


<div class="Paginator">
  <a class="PaginationButton" href="dashboard?page={{ Previous }}">
    <strong>Previous</strong>
  </a>
    
  <label class="PageTextPaginator">
    <strong>Page {{ CurrentPage }} / {{ Pages }}</strong>
  </label>

  <a class="PaginationButton" href="dashboard?page={{ Next }}">
    <strong>Next</strong>
  </a>
</div>


<script>
  var ShowHide = document.getElementById("Show-Hide-PrivateData");
  var PrivateKeyText = document.getElementById("PrivateKeyText");
  var AccessTokenText = document.getElementById("AccessTokenText");

  let PrivateKey_ = {{ PrivateKey }};
  let AccessToken_ = {{ AccessToken }};

  let IsShowed = false;


  ShowHide.addEventListener("click", function() {
    if ( IsShowed == false ) {
      PrivateKeyText.innerHTML = "PrivateKey: " + PrivateKey_.substring();
      AccessTokenText.innerHTML = "AccessToken: " + AccessToken;

      IsShowed = true;
      ShowHide.innerHTML = "<strong>Hide PrivateKey & AccessToken</strong>"
      return;

    } else {
      PrivateKeyText.innerHTML = "";
      AccessTokenText.innerHTML = "";

      IsShowed = false;
      ShowHide.innerHTML = "<strong>Show PrivateKey & AccessToken</strong>"
      return;
    }
  })
</script>


{% endblock %}
