<!DOCTYPE html>
<html>
    <head>
        <title>WalletCoin FAQ</title>
        <link href="../static/style.css" rel="stylesheet">
        <link  rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    </head>

    <body class="Background">
        <ul class="FrameUP">
            <li class="FrameUPDashboard">
                <a class="FrameButton" href="dashboard">
                    <strong>Dashboard</strong>
                </a>
            </li>

            <li class="FrameUPTransaction">
                <a class="FrameButton" href="transaction">
                    <strong>Transaction</strong>
                </a>
            </li>
        
            <li class="FrameUPBuy">
                <a class="FrameButton" href="buy">
                    <strong>Buy</strong>
                </a>
            </li>
        
            <li class="FrameUPLogout">
                <a class="FrameButton" href="logout">
                    <strong>Logout</strong>
                </a>
            </li>
        </ul>
  
        <h1 class="ClassicTitle">WalletCoin FAQ</h1>
        <br>

        <ul>
            <li class="FAQquestion">
                <h2 id="FAQquestionTitle">What is WalletCoin?</h2>
                <div id="FAQreplication">
                    <strong>
                        WalletCoin is a new cryptocurrency which developed and released in 2022<br>
                        You can use it to invest in videogames or monetize your own games you<br>
                        have created!
                    </strong>
                </div>
            </li>

            <li class="FAQquestion">
                <h2 id="FAQquestionTitle">You are saying that, with WalletCoin you can invest in games... This is only for game developers ?</h2>
                <div id="FAQreplication">
                    <strong>
                        NO! Of course no! WalletCoin is for everyone who deals with games. From a<br>
                        simple player to a big company which creates this games. Developers can<br>
                        monetize their games ( with cryptos ) and players can invest on it!<br>
                        Warning!<br>
                        The game that you will emb in WalletCoin's stockmarket should be real and<br>
                        belongs to you or the owner of the game, has the right to take legal action
                        against you.
                    </strong>
                </div>
            </li>

            <li class="FAQquestion">
                <h2 id="FAQquestionTitle">Who created WalletCoin?</h2>
                <div id="FAQreplication">
                    <strong>
                        WalletCoin was created by only one developer. He has got all the roles<br>
                        ( Owner, Developer, Admin )
                    </strong>
                </div>
            </li>

            <li class="FAQquestion">
                <h2 id="FAQquestionTitle">How I can receive WalletCoins?</h2>
                <div id="FAQreplication">
                    <strong>
                    </strong>
                </div>
            </li>

            <li class="FAQquestion">
                <h2 id="FAQquestionTitle">Have you got community?</h2>
                <div id="FAQreplication">
                    <strong>
                        There are a community in youtube, instagram, discord!
                    </strong>
                </div>
            </li>

            <li class="FAQquestion">
                <h2 id="FAQquestionTitle">Is WalletCoin safe?</h2>
                <div id="FAQreplication">
                    <strong>
                        WalletCoin provides a Friendly and secure network for its Users! You<br>
                        dont need to be scared of your safety because the system protection<br>
                        will never leave you alone!
                    </strong>
                </div>
            </li>
        </ul>

        <br><br><br>
        <div class="CopyRight">
            <div id="WalletCoinTitle">
                <h2 id="WalletCoinTitleText">WalletCoin</h2>
            </div>
            <div id="Sources">
                <br>
      
                <table class="SourcesTable">
                    <tr class="Sources-Sources">
                        <th class="SourcesTitle">Sources</th>
                        <th class="SourcesTitle">About</th>
                        <th class="SourcesTitle">Community</th>
                    </tr>
      
                    <tr class="Sources-Line-0">
                        <td class="SourcesItem">
                            <a class="SourceText" href="RESTfulApi">Rest Api</a>
                        </td>
                        <td class="SourcesItem">
                            <a class="SourceText" href="About">About</a>
                        </td>
                        <td class="SourcesItem">
                            <a class="SourceText"
                                href="https://www.youtube.com/channel/UC2tFLggEqPZw3w83dGvPteQ">Youtube</a>
                        </td>
                    </tr>
      
                    <tr class="Sources-Line-1">
                        <td class="SourcesItem"></td>
                        <td class="SourcesItem">
                            <a class="SourceText" href="FAQ">FAQ</a>
                        </td>
                        <td class="SourcesItem">
                            <a class="SourceText">Discord</a>
                        </td>
                    </tr>
      
                    <tr class="Sources-Line-2">
                        <td></td>
                        <td class="SourcesItem">
                            <a class="SourceText" href="helpCenter">Help Center</a>
                        </td>
                        <td class="SourcesItem">
                            <a class="SourceText">Instagram</a>
                        </td>
                    </tr>
                </table>
                <br><br>
            </div>
      
            <div id="CopyRightTitle">
                <span id="CopyRightTitleText">
                    <strong>Copyright © WalletCoin 2021</strong>
                </span>
            </div>
        </div>
    </body>
</html>
