<!DOCTYPE html>
<html>
    <head>
        <link href="../static/style.css" rel="stylesheet">
        <link  rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    </head>

    <body class="Background">
        <div class="MyGamesList">
            {% if MyGames != {} %}
                <h4 class="ClassicTitle">Games</h4>
        
                <p class="WhiteTitle">
                    <strong>You Created:</strong>
                </p>
                <hr>
        
                
                {% for game in MyGames %}
                    <div class="Game">
                        {% for gameData in MyGames[game] %}
                            {% if gameData == "Name" %}
                                <a href="myGamesDashboard?Game={{ MyGames[game][gameData] }}">{{ MyGames[game][gameData] }}</a>
                            {% endif %}
                        {% endfor %}
                    </div>
                {% endfor %}
        
                <p class="WhiteTitle">
                    <strong>You are stockHolder: </strong>
                </p>
                <hr>
        
                {% for game in GamesStockHolder %}
                    <div class="Game">
                        {% for gameData in GamesStockHolder[game] %}
                            {% if gameData == "Name" %}
                                <a href="myGamesDashboard?Game={{ GamesStockHolder[game][gameData] }}">{{ GamesStockHolder[game][gameData] }}</a>
                            {% endif %}
                        {% endfor %}
                    </div>
                {% endfor %}
                
                
                <div class="Buy-Sell">
                    <a href="buyStocks?Game={{ Game }}">
                        <strong>Buy-Sell</strong>
                    </a>
                </div>
                
                <div class="IssueStocks">
                    <a href="issueStocks?Game={{ Game }}">
                        <strong>Issue New Stocks</strong>
                    </a>
                </div>
            {% endif %}

            {% if GameCreator != "" %}
                {% if GameCreator == Session["Username"] %}
                    <div class="GameSettings">
                        <a href="gameSettings?Game={{ Game }}">
                            <strong>Settings</strong>
                        </a>
                    </div>
                {% endif %}
            {% endif %}
        </div>
    
        <div class="GameDashBoard">
            <header class="MyGamesDashboardHeader">
                <ul id="MyGamesDashboardHeaderUL">
                    <li id="MyGamesDashboardHeader-Blockchain">
                        <a id="MyGamesDashboardHeaderButton" href="dashboard">
                            <strong>Blockchain</strong>
                        </a>
                    </li>
                    <li id="MyGamesDashboardHeader-NewGame">
                        <a id="MyGamesDashboardHeaderButton" href="createGame">
                            <strong>New Game</strong>
                        </a>
                    </li>

                    <li id="MyGamesDashboardHeader-SearchGame">
                        <form action="searchGame" method="post">
                            <input class="Input" id="SearchGameValue" type="text" placeholder="Search Game" name="game" value="{{ request.form.game }}">
                            <button class="MyGamesDashboardHeader-SearchButton" type="submit" placeholder="Search">Search</button>
                        </form>
                    </li>
                </ul>
            </header>

            
            <!--------------------------------------------------------- Show all the games Im stockholder and owner ------------------------------------------------------>

            {% if Action == "Idle" %}
                <div style="padding-bottom: 200px;"></div>
                {% for game in MyGames %}
                    <div class="MyGamesTable">
                        <div class="TableItem">
                            <ul class="GamesList">
                                <li id="GameName">
                                    <h3 id="MyGamesTableItemH3">
                                        {% for gameData in MyGames[game] %}
                                            {% if gameData == "Name" %}
                                                <a href="myGamesDashboard?Game={{ MyGames[game][gameData] }}">
                                                    <strong>{{ MyGames[game][gameData] }}</strong>
                                                </a>
                                            {% endif %}
                                        {% endfor %}
                                    </h3>
                                </li>

                                <li id="GamePlayings">
                                    <h3 id="MyGamesTableItemH3">
                                        {% for gameData in MyGames[game] %}
                                            {% if gameData == "Playings" %}
                                                Playings: {{ MyGames[game][gameData] }}
                                            {% endif %}
                                        {% endfor %}                                                
                                    </h3>
                                </li>

                                <li id="StocksInGameAmount">
                                    <h3 id="MyGamesTableItemH3">
                                        {% for gameData in MyGames[game] %}
                                            {% if gameData == "Total" %}
                                                Stocks: {{ MyGames[game][gameData] }}
                                            {% endif %}
                                        {% endfor %}
                                    </h3>
                                </li>
                            </ul>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}


            {% if Action == "NoGames" %}
                <div style="padding-bottom: 400px;"></div>
                <a id="NewGameInDashboard" href="createGame">
                    <strong>Create New Game</strong>
                </a>
                <div style="padding-bottom: 400px;"></div>
            {% endif %}


            <!---------------------------------------------------------------- Search for a game ---------------------------------------------------------------------------->
            
			{% if Action == "Explore" %}
				<div class="ExploreGames">
					<div class="ExploreGamesHeader">
						<h3 class="BlackTitle">Explore For Games!</h3>
						
						<form action="searchGame" method="post">
                            <input class="Input" id="SearchGameValue" type="text" placeholder="Search Game" name="game" value="{{ request.form.game }}">
                            <button class="MyGamesDashboardHeader-SearchButton" type="submit" placeholder="Search">Search</button>
                        </form>
					</div>
					
					<div class="ExploreGames-Controls">
                        <ul class="ExploreGames-ControlsList">
                            <li id="ExploreGames-ControlsButton">
                                <a id="MostValuedGames" href="games/explore?Type=MostValued">
                                    <strong>Most Valued</strong>
                                </a>
                            </li>

                            <li id="ExploreGames-ControlsButton">
                                <a id="TrendGames" href="games/explore?Type=Trend">
                                    <strong>Trend</strong>
                                </a>
                            </li>
                        </ul>
                    </div>

                    <div class="ExploreGamesResults">
                        {% for Section in Results %}
                            <div class="ExploreGamesSection">
                                {% for Game_ in Results[Section] %}
                                    <div id="ExploreGamesGame">
                                        {% for Value in Results[Section][Game_] %}
                                           {% if Value == "IconPath" %}
                                                <img  id="ExploreGamesGameIcon" src="{{ url_for('static', filename='UserData/GameIcon/{{ Results[Section][Game_][Value] }}') }}">
                                            {% endif %}


                                            <label id="ExploreGamesGameName">
                                                <strong>{{ Game_ }}</strong>
                                            </label>

                                            {% if Value == "Value" %}
                                                <div  id="ExploreGamesGameValue">
                                                    <img id="ExploreGamesGameValueIcon" src="{{ url_for('static', filename='icons/WalletCoinLogo.png') }}">
                                                    <span id="ExploreGamesGameValueSPAN">
                                                        <strong>{{ Results[Section][Game_][Value] }} WLLC</strong>
                                                    </span>
                                                </div>
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                {% endfor %}
                            </div>
                        {% endfor %}
                    </div>
                </div>
			{% endif %}
			
			
            {% if Action == "Search" %}
                <div class="SearchGame">
                    <h3 class="BlackTitle">Results for: {{ Searched }}</h3>

                    
                    {% if FoundGames == [] %}
                        <h1 class="ClassicText">No Games Found!</h1>
                    
                    {% else %}
                        <div class="MyGamesTable">
                            {% for Game in FoundGames %}
                                <div class="TableItem">
                                    <ul class="GamesList">
                                        <li id="GameName">
                                            <h3>{{ Game }}</h3>
                                        </li>

                                        <li id="ViewCurrentGamesDashboard">
                                            <a href="myGamesDashboard?Game={{ Game }}">
                                                <strong>DashBoard</strong>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
            {% endif %}


            <!--------------------------------------------------------- My Game page and its description ------------------------------------------------------>

            {% if Action == "GameCreatorPage" %}
                <div class="GameCreatorPage">
                    <header class="GameCreatorPageHeader">
                        <div class="GameCreatorPageHeader-Name">
                            <img id="GameCreatorImage" src="../templates/icons/WalletCoinLogo.png">
                            <h1 id="GameCreatorName">{{ CreatorName }}</h1>
                        </div>
                    </header>

                    <br>
                    <div class="CreatorGames">
                        <ul class="CreatorGamesList">
                            {% for Game in Games %}
                                <li id="CreatorGamesList-Item">
                                    <h3 id="CreatorGames-ItemName">
                                        <a href="myGamesDashboard?Game={{ Game }}">{{ Game }}</a>
                                    </h3>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            {% endif %}


            <!------------------------------------------------------------- The General stats of the game ------------------------------------------------------------------->

            {% if Action == "Game" %}
                <div class="GameGeneralStats">
                    <header class="GamePageHeader">
                        <div class="GamePageHeader-Name">
                            <img id="GameImage" src="../templates/icons/WalletCoinLogo.png">
                            <h1 id="GameName">{{ Game }}</h1>
                        </div>
                    </header>

                    <div class="GamePage-Controls">
                        <ul class="GamePage-ControlsList">
                            <li id="GamePage-ControlsButton">
                                <a href="buyStocks?Game={{ Game }}">Buy-Sell</a>
                            </li>

                            <li id="GamePage-ControlsButton">
                                <a href="gameCreator?Creator={{ GameCreator }}">Creator</a>
                            </li>
                        </ul>
                    </div>


                    <div class="StockPrice">
                        <div class="Price-Changing">
                            {% if Changed == "Increased" %}
                                <img id="Price-Changing-Icon" src="{{ url_for('static', filename='Icons/Price-Increased.png') }}">
                                <span id="Price-Increased">
                                <strong>{{ PriceChange }}%</strong>
                                </span>
                            {% else %}
                                <img id="Price-Changing-Icon" src="{{ url_for('static', filename='icons/Price-Decreased.png') }}">
                                <span id="Price-Decreased">
                                    <strong>{{ PriceChange }}%</strong>
                                </span>
                            {% endif %}
                            </div>
                
                        <div class="StockPrice-Value">
                            <h1>{{ StockValue }} WLLC</h1>
                        </div>
                    </div>

                    
                    <div class="ValueChart">
                        <div class="ValueChartTimes">
                            <ul id="ValueChartTimesUL">
                                <li id="ValueChartTimeButton">
                                    <a id="ValueChartToday" href="myGamesDashboard?Game={{ Game }}&TimeFrame=Today&Day={{ Date[0] }}&Month={{ Date[1] }}&Year={{ Date[2] }}">
                                        <strong>Today</strong>
                                    </a>
                                </li>
                                <li id="ValueChartTimeButton">
                                    <a id="ValueChartThisWeek" href="myGamesDashboard?Game={{ Game }}&TimeFrame=Week&Month={{ Date[1] }}&Year={{ Date[2] }}">
                                        <strong>This Week</strong>
                                    </a>
                                </li>
                                <li id="ValueChartTimeButton">
                                    <a id="ValueChartThisMonth" href="myGamesDashboard?Game={{ Game }}&TimeFrame=Month&Month={{ Date[1] }}&Year={{ Date[2] }}">
                                        <strong>This Month</strong>
                                    </a>
                                </li>
                                <li id="ValueChartTimeButton">
                                    <a id="ValueChartThisYear" href="myGamesDashboard?Game={{ Game }}&TimeFrame=Year&Year={{ Date[2] }}">
                                        <strong>This Year</strong>
                                    </a>
                                </li>
                            </ul>
                        </div>


                        <div class="StockStatistics">
                            <canvas id="Chart"></canvas>

                            <div id="Stock-StatisticsWall">
                                <div class="BuyStocks">
                                    <p class="BuyStocksText">
                                        <h2 class="BuyStocksText-Title">Ready To Invest in Stocks ???</h2>
                                        
                                        <ul class="BuyStocks-InvestionWays">
                                        <li>Buy Stocks !</li>
                                        <li>Wait until its price Increased.</li>
                                        <li>Sell It for more WalletCoins !</li>
                                        </ul>
                                    </p>
                            
                                    <a class="BuyStocksButton" href="buyStocks?Game={{ Game }}">
                                        <strong>Buy</strong>
                                    </a>
                                </div>

                                <div class="StockStatistics-Price">
                                    <div id="PriceChange">
                                        <strong id="StatisticsWall-Item-Title">Price Changed</strong>
                                        <br>
                                        <label id="StatisticsWall-Item-Value">{{ PriceChange }}</label>
                                    </div>
                    
                                    <div id="StockVolume">
                                    <strong id="StatisticsWall-Item-Title">Volume</strong>
                                    <br>
                                    <label id="StatisticsWall-Item-Value">{{ Volume }} WLLC</label>
                                    </div>
                                </div>
                            
                                <div class="StockStatistics-Trade">
                                    <div id="WalletCoinsBought">
                                    <strong id="StatisticsWall-Item-Title">Bought</strong>
                                    <br>
                                    <label id="StatisticsWall-Item-Value">{{ Bought }} WLLC</label>
                                    </div>
                    
                                    <div id="WalletCoinsSold">
                                    <strong id="StatisticsWall-Item-Title">Sold</strong>
                                    <br>
                                    <label id="StatisticsWall-Item-Value">{{ Sold }} WLLC</label>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
                        <script type="text/javascript">
                            var chart = document.getElementById("Chart").getContext("2d");

                            var Stats = {{ Chart | safe }};
                            let XAxis = [];
                            let YAxis = [];


                            Stats.forEach(item => {
                                XAxis.push(item.{{ SearchTo }})
                                YAxis.push(item.Value)
                            });


                            var newChart = new Chart(chart, {
                                type: "line",
                                data: {
                                    labels: XAxis,
                                    datasets: [{
                                        fill: true,
                                        lineTension: 1,
                                        borderColor: "rgb(75, 192, 192)",
                                        data: YAxis
                                    }]
                                },
                                options: {
                                    legend: {
                                        display: true
                                    },
                                    responsive: false
                                }
                            })
                        </script>
                    </div>
                </div>
            {% endif %}
            
    
            <!------------------------------------------------------------------ Buy and Sell Stocks ------------------------------------------------------------------>
            
            {% if Action == "BuyStocks" or Action == "SellStocks" %}
                <div class="Buy-Sell-Stocks">
                    {% if Action == "BuyStocks" %}
                        <h3 class="Buy-Sell-Stocks-Title">Buy Stocks</h3>
                    {% else %}
                        {% if Action == "SellStocks" %}
                            <h3 class="Buy-Sell-Stocks-Title">Sell Stocks</h3>
                        {% endif %}
                    {% endif %}

                    <div class="Buy-Sell-StocksHeader">
                        <a id="Buy-Sell-StocksBuyButton" href="buyStocks?Game={{ Game }}">
                            <strong>Buy Stocks</strong>
                        </a>
                        <a id="Buy-Sell-StocksSellButton" href="sellStocks?Game={{ Game }}">
                            <strong>Sell Stocks</strong>
                        </a>
                    </div>

                    {% if Action == "BuyStocks" %}
                    <div class="BuyStocksForm">
                        <form action="buyStocks?Game={{ Game }}" method="post">
                            <h3 class="Buy-Sell-StocksTitle">Buy {{ Game }}'s Stocks</h3>
                    
                            <div>
                                <input class="Input" type="number" name="amount" placeholder="Amount" required="required" value="{{ request.form.amount }}">
                            </div>
                            <div style="padding-bottom: 20px;"></div>
    
                            {% for message in get_flashed_messages() %}
                                <span class="Notification">
                                    <strong>{{ message }}</strong>
                                </span>
                            {% endfor %}
                    
                            <div style="padding-bottom: 70px;"></div>
                            <button class="Buy-Sell-StocksSubmit" type="submit">Buy Stocks</button>
                        </form>
                    </div>
                    {% endif %}
    
                
                    {% if Action == "SellStocks" %}
                    <div class="SellStocksForm">
                        <form action="sellStocks?Game={{ Game }}" method="post">
                            <h3 class="Buy-Sell-StocksTitle">Sell Stocks in {{ Game }}</h3>
                    
                            <div>
                                <input class="Input" type="number" name="amount" placeholder="Amount" required="required" value="{{ request.form.amount }}">
                            </div>
                            <div style="padding-bottom: 20px;"></div>
    
                            {% for message in get_flashed_messages() %}
                                <span class="Notification">
                                    <strong>{{ message }}</strong>
                                </span>
                            {% endfor %}
                    
                            <div style="padding-bottom: 70px;"></div>
                            <button class="Buy-Sell-StocksSubmit" type="submit">Sell Stocks</button>
                        </form>
                    </div>
                    {% endif %}
                </div>
            {% endif %}
    
            
            <!---------------------------------------------------------------- Try to Publish new stocks ---------------------------------------------------------------->

            {% if Action == "IssueStocks" %}
            <div class="IssueStocksForm">
                <form action="issueStocks?Game={{ Game }}" method="post">
                    <h3 class="IssueStocksTitle">Issue New Stocks For Your Game</h3>
            
                    <input class="Input" type="number" name="amount" placeholder="Amount" required="required" value="{{ request.form.amount }}">
                    <div style="padding-bottom: 20px;"></div>

                    <br>
                    <span class="Notification">
                        <strong>When you publish the new stocks, it will be saved in the store for sell</strong>
                    </span>
                    <br><br>

                    {% for message in get_flashed_messages() %}
                        <span class="Notification">
                            <strong>{{ message }}</strong>
                        </span>
                    {% endfor %}
            
                    <div style="padding-bottom: 70px;"></div>
                    <button class="IssueStocksSubmit" type="submit">Release Stocks</button>
                </form>
            </div>
            {% endif %}
            
            <!------------------------------------------------------------- The Game settings ------------------------------------------------------------------->

            {% if Action == "Settings" %}
            <div class="GameSettingsForm">
                <form class="Form" action="gameSettings?Game={{ Game }}" method="post">
                    <h1 class="ClassicTitle">Game Settings</h1>
                    
                    <div class="GameIconField">
                        <label class="FormInputTitle">Upload an image for your game</label>
                        <input class="UploadFile" name="UploadImage" type="file">
                    </div>

                    <div class="GameNameField">
                        <label class="FormInputTitle">Game Name</label>
                        <input class="Input" name="GameName" type="text" placeholder="Game Name" value="{{ request.form.GameName }}">
                    </div>
                    
                    <div class="GameDescriptionField">
                        <label class="FormInputTitle">Game Description</label>
                        <textarea id="GameSettings-Description" name="GameDescription" placeholder="Game Description" value="{{ request.form.GameDescription }}"></textarea>
                    </div>
                    
                    <button id="ApplySettingsButton" type="submit">Apply Settings</button>
                </form>
            </div>
            {% endif %}

        </div>
    </body>
</html>
