<!DOCTYPE html>

<html lang="en">
<head>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="stylesheet" href="url_for('static', filename='style.css')">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="plotly.min.js"></script>
    <title>WalletCoin - PriceChart</title>
</head>

<body class="PriceChartBackground">
    <div class="FrameUP-PriceChart">
      <ul class="FrameUP">
        <li class="FrameUPDashboard">
            <a class="FrameButton" href="dashboard">
                <strong>Dashboard</strong>
            </a>
        </li>

        <li class="FrameUPTransaction">
            <a class="FrameButton" href="transaction">
                <strong>Transaction</strong>
            </a>
        </li>

        <li class="FrameUPBuy">
            <a class="FrameButton" href="buy">
                <strong>Buy</strong>
            </a>
        </li>

        <li class="FrameUPLogout">
            <a class="FrameButton" href="logout">
                <strong>Logout</strong>
            </a>
        </li>
      </ul>
    </div>

      <h2 class="ClassicTitle">The chart of WalletCoin Price</h2>
      <div class="WalletCoinPrice">
        <div class="Price-Changing">
          {% if Changed == "Increased" %}
            <img id="Price-Changing-Icon" src="{{ url_for('static', filename='Icons/Price-Increased.png') }}">
            <span id="Price-Increased">
              <strong>+{{ PriceChange }}%</strong>
            </span>
          {% endif %}
          {% if Changed == "Decreased" %}
              <img id="Price-Changing-Icon" src="{{ url_for('static', filename='icons/Price-Decreased.png') }}">
              <span id="Price-Decreased">
                <strong>{{ PriceChange }}%</strong>
              </span>
          {% endif %}
        </div>

        <div class="WalletCoinPrice-Value">
          <h1>{{ Price }} EUR</h1>
        </div>
      </div>

      <div class="ValueChart">
        <div class="ValueChartTimes">
            <ul>
                <li id="ValueChartTimeButton">
                    <a id="ValueChartToday" href="priceChart?TimeFrame=Today&Day={{ Date[0] }}&Month={{ Date[1] }}&Year={{ Date[2] }}">
                        <strong>Today</strong>
                    </a>
                </li>
                <li id="ValueChartTimeButton">
                    <a id="ValueChartThisWeek" href="priceChart?TimeFrame=Week&Month={{ Date[1] }}&Year={{ Date[2] }}">
                        <strong>This Week</strong>
                    </a>
                </li>
                <li id="ValueChartTimeButton">
                    <a id="ValueChartThisMonth" href="priceChart?TimeFrame=Month&Month={{ Date[1] }}&Year={{ Date[2] }}">
                        <strong>This Month</strong>
                    </a>
                </li>
                <li id="ValueChartTimeButton">
                    <a id="ValueChartThisYear" href="priceChart?TimeFrame=Year&Year={{ Date[2] }}">
                        <strong>This Year</strong>
                    </a>
                </li>
            </ul>
        </div>
        <canvas id="Chart"></canvas>

        <div class="StatisticsWall">
          <ul>
            <div id="TimeFrame">
              <strong>
                <!--{% if "TimeFrame" in Chart %}
                  {{ Chart.TimeFrame }}
                {% else %}
                  Today
                {% endif %}-->
                {{ TimeFrame }}
              </strong>
            </div>

            <div id="PriceChange">
              <strong id="StatisticsWall-Item-Title">Price Changed</strong>
              <br>
              <label id="StatisticsWall-Item-Value">{{ Change }}</label>
            </div>

            <div id="WalletCoinVolume">
              <strong id="StatisticsWall-Item-Title">Volume</strong>
              <br>
              <label id="StatisticsWall-Item-Value">{{ Volume }} EUR</label>
            </div>
          </ul>

          <ul>
            <div id="WalletCoinsBought">
              <strong id="StatisticsWall-Item-Title">Bought</strong>
              <br>
              <label id="StatisticsWall-Item-Value">{{ Bought }} WLLC</label>
            </div>

            <div id="WalletCoinsSold">
              <strong id="StatisticsWall-Item-Title">Sold</strong>
              <br>
              <label id="StatisticsWall-Item-Value">{{ Sold }} WLLC</label>
            </div>

            <div id="WalletCoinPrice">
              <strong id="StatisticsWall-Item-Title">Price</strong>
              <br>
              <label id="StatisticsWall-Item-Value">{{ Price }} EUR</label>
            </div>
          </ul>
        </div>
      </div>

      <div class="TradingPanel">
        <p class="TradingPanelText">
          <h2>Ready To Invest in WalletCoin ???</h2>
          
          <ul id="TradingPanelText-InvestionWays">
            <li>Buy WalletCoins !</li>
            <li>Wait until its price Increased <br>OR<br>Buy some stocks of a game.</li>
            <li>Sell It !</li>
          </ul>
        </p>

        <a class="BuyButton" href="buy">
          <strong>Buy</strong>
        </a>
      </div>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
    <script type="text/javascript">
          var chart = document.getElementById("Chart").getContext("2d");

          var Stats = {{ Chart.Stats | safe }};

          let XAxis = [];
          let YAxis = [];


          Stats.forEach(item => {
            XAxis.push(item.{{ SearchTo }});
            YAxis.push(item.Value);
          });


          var newChart = new Chart(chart, {
              type: "line",
              data: {
                  labels: XAxis,
                  datasets: [{
                      fill: false,
                      lineTension: 1,
                      borderColor: "rgb(75, 192, 192)",
                      data: YAxis
                  }]
              },
              options: {
                  legend: {
                    display: true
                  },
                  responsive: false
              }
          })
    </script>
    </div>

    <div style="padding-bottom: 80px;"></div>
    <div class="CopyRight-PriceChart">
      <div id="WalletCoinTitle">
          <h2 id="WalletCoinTitleText">WalletCoin</h2>
      </div>
      <div id="Sources">
          <br>

          <table class="SourcesTable">
              <tr class="Sources-Sources">
                  <th class="SourcesTitle">Sources</th>
                  <th class="SourcesTitle">About</th>
                  <th class="SourcesTitle">Community</th>
              </tr>

              <tr class="Sources-Line-0">
                  <td class="SourcesItem">
                      <a class="SourceText" href="RESTfulApi">Rest Api</a>
                  </td>
                  <td class="SourcesItem">
                      <a class="SourceText" href="About">About</a>
                  </td>
                  <td class="SourcesItem">
                      <a class="SourceText"
                          href="https://www.youtube.com/channel/UC2tFLggEqPZw3w83dGvPteQ">Youtube</a>
                  </td>
              </tr>

              <tr class="Sources-Line-1">
                  <td class="SourcesItem"></td>
                  <td class="SourcesItem">
                      <a class="SourceText" href="FAQ">FAQ</a>
                  </td>
                  <td class="SourcesItem">
                      <a class="SourceText">Discord</a>
                  </td>
              </tr>

              <tr class="Sources-Line-2">
                <td></td>
                <td class="SourcesItem">
                    <a class="SourceText" href="helpCenter">Help Center</a>
                </td>
                <td class="SourcesItem">
                    <a class="SourceText">Instagram</a>
                </td>
              </tr>
          </table>
          <br><br>
      </div>

      <div id="CopyRightTitle">
          <span id="CopyRightTitleText">
              <strong>Copyright © WalletCoin 2021</strong>
          </span>
      </div>
    </div>
</body>
</html>
