<!DOCTYPE html>
<html>
    <head>
        <title>WalletCoin RESTful Api</title>
        <link href="../static/style.css" rel="stylesheet">
        <link  rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    </head>

    <body class="Background">
        <ul class="FrameUP">
            <li class="FrameUPDashboard">
                <a class="FrameButton" href="dashboard">
                    <strong>Dashboard</strong>
                </a>
            </li>
    
            <li class="FrameUPTransaction">
                <a class="FrameButton" href="transaction">
                    <strong>Transaction</strong>
                </a>
            </li>
    
            <li class="FrameUPBuy">
                <a class="FrameButton" href="buy">
                    <strong>Buy</strong>
                </a>
            </li>
    
            <li class="FrameUPLogout">
                <a class="FrameButton" href="logout">
                    <strong>Logout</strong>
                </a>
            </li>
        </ul>
  

        <h1 class="ClassicTitle">WalletCoin RESTful Api</h1>
            <p class="ClassicText">
                This is the RESTful Api which WalletCoin made! If you are a software developer<br>
                or a web developer, you can use it to emb WalletCoin in your project!</p>
        <br><br>


        <div class="REST-API-Page">
            <div class="REST-API-Requests">
                <div class="REST-API-GetPrice">
                    <div class="REST-API-Request">
                        <h3 class="RequestFunctionTitle">
                            <strong>Get the price of WalletCoin:</strong>
                        </h3>

                        <p class="RequestDescription">
                            <div id="RequestDescription-Text">
                                Using this method you will able to get the price of WalletCoin<br>
                            </div>
                            
                            <strong id="RequestMethod-Title">Method: </strong>
                                <strong id="RequestMethod">GET</strong><br>
                            <strong id="RequestURL-Title">Request Url:</strong>
                                <strong id="RequestURL">https://127.0.0.1:5000</strong>
                        </p>
                    </div>
                </div>


                <div class="REST-API-GetPriceChart">
                    <div class="REST-API-Request">
                        <h3 class="RequestFunctionTitle">
                            <strong>Get the Price Chart:</strong>
                        </h3>

                        <p class="RequestDescription">
                            <div id="RequestDescription-Text">
                                Using this method you will able to get the price chart of WalletCoin<br>
                            </div>

                            
                            <strong id="RequestMethod-Title">Method: </strong>
                                <strong id="RequestMethod">GET</strong><br>
                            <strong id="RequestURL-Title">Request Url:</strong>
                                <strong id="RequestURL">https://127.0.0.1:5000/api/price/chart/</strong><br>
                            
                            
                            <strong id="RequestArguments-Title">Arguments: </strong>

                            <ul class="RequestArguments">
                                <li>TimeFrame: ( Timeframes: "Today", "Week", "Month", "Year" )</li>
                                <li>Day: ( Some random day ) This is optional</li>
                                <li>Month: ( Some random month ) This is optional</li>
                                <li>Year: ( A year ) If you dont define it, you will get the data of this year!</li>
                            </ul>
                        </p>
                    </div>
                </div>


                <div class="REST-API-Auth">
                    <div class="REST-API-Request">
                        <h3 class="RequestFunctionTitle">
                            <strong>Connect to your account:</strong>
                        </h3>
        
                        <p class="RequestDescription">
                            <div id="RequestDescription-Text">
                                Now, you need to connect to your account. You need to use<br>
                                the authentication methods in order to connect to your account.<br>
                            </div>
                            

                            <strong id="RequestMethod-Title">Method: </strong>
                                <strong id="RequestMethod">GET</strong><br>
                            <strong id="RequestURL-Title">Request Url:</strong>
                                <strong id="RequestURL">https://127.0.0.1:5000/api/auth</strong><br>
                            
                            
                            <strong id="RequestArguments-Title">Arguments: </strong>

                            <ul class="RequestArguments">
                                <li>AccessToken: ( Your access token )</li>
                            </ul>
                        </p>
                    </div>
                </div>



                <div class="REST-API-CreateWallet">
                    <div class="REST-API-Request">
                        <h3 class="RequestFunctionTitle">
                            <strong>Create a Wallet:</strong>
                        </h3>
        
                        <p class="RequestDescription">
                            <div id="RequestDescription-Text">
                                In WalletCoin there are a lot of developers who searching for an<br>
                                API for they connect WalletCoin in their APP... Basically this thing Im<br>
                                saying to my self in order to sleep quiet in nights... Anyway, If you<br>
                                are a developer and you are creating a Wallet APP to store WalletCoins,<br>
                                here is some methods to use in APP to create a WalletAddress, store<br>
                                coins and transfer it to other Wallets.<br>
                            </div>
                            

                            <strong id="RequestMethod-Title">Method: </strong>
                                <strong id="RequestMethod">GET</strong><br>
                            <strong id="RequestURL-Title">Request Url:</strong>
                                <strong id="RequestURL">https://127.0.0.1:5000/api/wallet/create/</strong><br>
                            
                            
                            <strong id="RequestArguments-Title">Arguments: </strong>

                            <ul class="RequestArguments">
                                <li>Password: ( A Password of your choice )</li>
                            </ul>
                        </p>
                    </div>
                </div>


                <div class="REST-API-ConnectWallet">
                    <div class="REST-API-Request">
                        <h3 class="RequestFunctionTitle">
                            <strong>Connect a Wallet:</strong>
                        </h3>
        
                        <p class="RequestDescription">
                            <div id="RequestDescription-Text">
                                Login is an Important feature in APPs. Use this method to give the<br>
                                abbility to your users to connect with their Wallet...<br>
                                <strong>Warning!!!</strong><br>
                                With their Wallet not their account!
                            </div>
                            

                            <strong id="RequestMethod-Title">Method: </strong>
                                <strong id="RequestMethod">GET</strong><br>
                            <strong id="RequestURL-Title">Request Url:</strong>
                                <strong id="RequestURL">https://127.0.0.1:5000/api/wallet/connect/</strong><br>
                            
                            
                            <strong id="RequestArguments-Title">Arguments: </strong>

                            <ul class="RequestArguments">
                                <li>Password: ( A Password of your choice )</li>
                            </ul>
                        </p>
                    </div>
                </div>


                <div class="REST-API-Transaction">
                    <div class="REST-API-Request">
                        <h3 class="RequestFunctionTitle">
                            <strong>Use Transaction methods:</strong>
                        </h3>
        
                        <p class="RequestDescription">
                            <div id="RequestDescription-Text">
                                Ofcourse in your Wallet APP, should there are a method in order Users-Wallets<br>
                                send some WalletCoins to other Users-Wallets.
                            </div>
                            

                            <strong id="RequestMethod-Title">Method: </strong>
                                <strong id="RequestMethod">POST</strong><br>
                            <strong id="RequestURL-Title">Request Url:</strong>
                                <strong id="RequestURL">https://127.0.0.1:5000/api/transaction/</strong><br>

                            
                            <strong id="RequestArguments-Title">Arguments: </strong>

                            <ul class="RequestArguments">
                                <li>AccessToken=((Your AccessToken))</li>
                                <li>WalletAddress=((Recipient's Wallet Address))</li>
                                <li>Amount=((An available amount you want to send))</li>
                            </ul>
                        </p>
                    </div>
                </div>
            </div>


            <div class="REST-API-Responses">
                <div class="REST-API-Response">
                    <h3 class="RequestTitle">
                        <strong>Request:</strong>
                    </h3>
                    
                    <h4 class="RequestUrl">
                        Url: https://127.0.0.1:5000/api/price/
                    </h4>

                    <h3 class="ExampleResponseTitle">
                        <strong>Example Response:</strong>
                    </h3>
                                        
                    <h4 class="ResultText">
                        [<br>
                            "result": {"5.00 EUR"}<br>
                        ]
                    </h4>
                </div>


                <div class="REST-API-Response">
                    <h3 class="RequestTitle">
                        <strong>Example Request:</strong>
                    </h3>
                    
                    <h4 class="RequestUrl">
                        Url: https://127.0.0.1:5000/api/price/?TimeFrame=Today&Month=5&Year=2022
                    </h4>

                    <h3 class="ExampleResponseTitle">
                        <strong>Example Response:</strong>
                    </h3>
                    
                    <h4 class="ResultText">
                        {
                            <div id="PriceChartResponse-Data">
                                "Price": 0.0,<br>
                                "Market": 30000000.0,<br>
                                "Tokens": 2.0,<br>
                                "Economy": 0.0,<br>
                                "Stats": [</div>
                                <div id="PriceChartResponse-Stats">
                                    {<br>
                                        "Day": 14,<br>
                                        "Month": 4,<br>
                                        "Year": 2022,<br>
                                        "Hour": 23,<br>
                                        "Value": 1,<br>
                                        "CoinsBought": 0.0,<br>
                                        "CoinsSold": 1,<br>
                                        "Volume": 0<br>
                                    ],
                                </div>
                                <div id="PriceChartResponse-Stats">
                                    {<br>
                                        "Day": 14,<br>
                                        "Month": 4,<br>
                                        "Year": 2022,<br>
                                        "Hour": 23,<br>
                                        "Value": 2,<br>
                                        "CoinsBought": 1,<br>
                                        "CoinsSold": 0.0,<br>
                                        "Volume": 3.0<br>
                                    ],
                                </div>
                                <div id="PriceChartResponse-Stats">
                                    {<br>
                                        "Day": 14,<br>
                                        "Month": 4,<br>
                                        "Year": 2022,<br>
                                        "Hour": 23,<br>
                                        "Value": 1.2,<br>
                                        "CoinsBought": 3,<br>
                                        "CoinsSold": 0.0,<br>
                                        "Volume": 2.0<br>
                                    ],
                                </div>
                                <div id="PriceChartResponse-Stats">
                                    {<br>
                                        "Day": 14,<br>
                                        "Month": 5,<br>
                                        "Year": 2022,<br>
                                        "Hour": 23,<br>
                                        "Value": 1.3,<br>
                                        "CoinsBought": 2,<br>
                                        "CoinsSold": 0.0,<br>
                                        "Volume": 1.0<br>
                                    ],
                                </div>
                        ]
                    </h4>
                </div>


                <div class="REST-API-Response">
                    <h3 class="RequestTitle">
                        <strong>Request:</strong>
                    </h3>
                    
                    <h4 class="RequestUrl">
                        Url: https://127.0.0.1:5000/api/auth/?AccessToken=((Your AccessToken))
                    </h4>

                    <h3 class="ExampleResponseTitle">
                        <strong>Example Response:</strong>
                    </h3>
                                        
                    <h4 class="ResultText">
                        {<br>
                            "result": {<br>
                                "Username": "User",<br>
                                "Balance": 0.045,<br>
                                "WalletAddress": Xi238haTjw0<br>
                            }<br>
                        }
                    </h4>
                </div>


                <div class="REST-API-Response">
                    <h3 class="RequestTitle">
                        <strong>Request:</strong>
                    </h3>
                    
                    <h4 class="RequestUrl">
                        Url: https://127.0.0.1:5000/api/wallet/create/?Password=((A Password of your choice))
                    </h4>

                    <h3 class="ExampleResponseTitle">
                        <strong>Example Response:</strong>
                    </h3>
                                        
                    <h4 class="ResultText">
                        {<br>
                            "result": {<br>
                                "Balance": 0.0,<br>
                                "Password": Password,<br>
                                "PrivateKey": ( A Private key ),<br>
                                "AccessToken": ( An AccessToken )<br>
                            }<br>
                        }
                    </h4>
                </div>


                <div class="REST-API-Response">
                    <h3 class="RequestTitle">
                        <strong>Request:</strong>
                    </h3>
                    
                    <h4 class="RequestUrl">
                        Url: https://127.0.0.1:5000/api/wallet/connect/?AccessToken=((Your Wallet's AccessToken))
                    </h4>

                    <h3 class="ExampleResponseTitle">
                        <strong>Example Response:</strong>
                    </h3>
                                        
                    <h4 class="ResultText">
                        {<br>
                            "result": {<br>
                                "Address": (Wallet Address),<br>
                                "Balance": 0.0,<br>
                                "AccessToken": (Wallet's AccessToken)<br>
                            }<br>
                        }
                    </h4>
                </div>


                <div class="REST-API-Response">
                    <h3 class="RequestTitle">
                    <strong>Request:</strong>
                    </h3>
                        
                    <h4 class="RequestUrl">
                        Url: https://127.0.0.1:5000/api/transaction/?AccessToken=((Your AccessToken))&
                                                                                            WalletAddress=((Recipient's Wallet Address))&
                                                                                            Amount=((An available amount you want to send))
                    </h4>

                    <h3 class="ExampleResponseTitle">
                        <strong>Example Response:</strong>
                    </h3>
                    
                    <h4 class="ResultText">
                        [<br>
                            {"result": "Transaction succeed! ((You)) -->> ((Recipient)) -->> ((Amount)) "}<br>
                        ]<br>
                    </h4>
                </div>
            </div>
        </div>
        

        <div class="CopyRight">
            <div id="WalletCoinTitle">
                <h2 id="WalletCoinTitleText">WalletCoin</h2>
            </div>
            <div id="Sources">
                <br>
      
                <table class="SourcesTable">
                    <tr class="Sources-Sources">
                        <th class="SourcesTitle">Sources</th>
                        <th class="SourcesTitle">About</th>
                        <th class="SourcesTitle">Community</th>
                    </tr>
      
                    <tr class="Sources-Line-0">
                        <td class="SourcesItem">
                            <a class="SourceText" href="RESTfulApi">Rest Api</a>
                        </td>
                        <td class="SourcesItem">
                            <a class="SourceText" href="About">About</a>
                        </td>
                        <td class="SourcesItem">
                            <a class="SourceText"
                                href="https://www.youtube.com/channel/UC2tFLggEqPZw3w83dGvPteQ">Youtube</a>
                        </td>
                    </tr>
      
                    <tr class="Sources-Line-1">
                        <td class="SourcesItem"></td>
                        <td class="SourcesItem">
                            <a class="SourceText" href="FAQ">FAQ</a>
                        </td>
                        <td class="SourcesItem">
                            <a class="SourceText">Discord</a>
                        </td>
                    </tr>
      
                    <tr class="Sources-Line-2">
                        <td></td>
                        <td class="SourcesItem">
                            <a class="SourceText" href="helpCenter">Help Center</a>
                        </td>
                        <td class="SourcesItem">
                            <a class="SourceText">Instagram</a>
                        </td>
                    </tr>
                </table>
                <br><br>
            </div>
      
            <div id="CopyRightTitle">
                <span id="CopyRightTitleText">
                    <strong>Copyright © WalletCoin 2021</strong>
                </span>
            </div>
        </div>
    </body>
</html>
