{% extends 'layout.html' %}

{% block body %}

<head>
  <link href="../static/style.css" rel="stylesheet">
  <link  rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>


<form class="Form" action="sell" method="post">
  <h1 class="ClassicTitle">Sell WalletCoins</h1>
  <div style="padding-bottom: 20px;"></div>


  <p class="ClassicText">
    <strong>Your balance: {{ Balance }} WLLC</strong>
  </p>


  <input class="Input" type="text" name="amount" placeholder="Amount" required="required" value="{{ request.form.amount }}">
  <input class="Input" type="email" name="address" placeholder="Your Paypal Address" required="required" value="{{ request.form.address }}">
  <div style="padding-bottom: 20px;"></div>


  <span class="Notification">
    {% for message in get_flashed_messages() %}
      <strong>{{ message }}</strong>
    {% endfor %}
  </span>

  
  <div style="padding-bottom: 40px;"></div>
  <button class="SellWalletCoins" type="submit">Sell Now</button>
</form>


<div style="padding-bottom: 300px;"></div>

{% endblock %}
