{% extends 'layout.html' %}
{% block body %}

<head>
  <link href="../static/style.css" rel="stylesheet">
  <link  rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>

{% if Status == "Form" %}
<form class="Form" action="settings" method="post">
	<h1 class="ClassicTitle">User Settings</h1>
	<br>
	
	<div class="UserSettings-InputField">
		<label class="FormInputTitle">Username</label>
		<input class="Input" name="Username" type="text" placeholder="Username" value="{{ request.form.Username }}">
	</div>
	
	<div class="UserSettings-InputField">
		<label class="FormInputTitle">Email</label>
		<input class="Input" name="Email" type="text" placeholder="Email" value="{{ request.form.Email }}">
	</div>
	
	
	<div class="UserSettings-InputField">
		<div id="UserSettings-PasswordManagement">
			<label class="FormInputTitle">Password Change</label>
			<input class="Input" name="PreviousPassword" type="password" placeholder="PreviousPassword" value="{{ request.form.PreviousPassword }}">
		</div>
	
		<div id="UserSettings-PasswordManagement">
			<input class="Input" name="NewPassword" type="password" placeholder="NewPassword" value="{{ request.form.NewPassword }}">
		</div>
	</div>

	<br>
	{% for message in get_flashed_messages() %}
    	<h3 class="Notification">{{ message }}</h3>
    {% endfor %}
	
	<button id="ApplySettingsButton" type="submit">Apply Settings</button>
</form>

{% else %}

	{% if Status == "EmailSent" %}
		<form class="UserSettings-EmailSent" action="settings" method="post">
			<h3 class="ClassicTitle">Email Confirm...</h3>
			<p id="UserSettings-EmailSendParagraph">
				An email sent to {{ Email }}. Please check your email box for the confirmation code
				If your email dont arrive at least in 10 minutes try this form again.
				Please Dont close this window until you finish this progress.
			</p>
			
			<div id="UserSettings-EmailSentConfirmationCode-Div">
				<input class="Input" name="ConfCode" placeholder="Confirmation Code" type="text", value="{{ request.form.ConfCode }}">
				
				<br>
				{% for message in get_flashed_messages() %}
					<h3 class="Notification">{{ message }}</h3>
				{% endfor %}

				<button class="UserSettings-EmailSentConfirmationCode-Submit">Confirm</button>
			</div>
		</form>

		<div style="padding-bottom: 130px;"></div>
	{% endif %}

	{% if Status == "AccountDataChanged" %}
	<div class="UserSettings-DataChanged">
		<h3 class="ClassicTitle">Change Completed !!!</h3>
		<p id="UserSettings-DataChangedParagraph">
			You have changed some data in your account successfully !!!
		</p>
	</div>

	<div style="padding-bottom: 150px;"></div>
	{% endif %}

{% endif %}


{% endblock %}
