{% extends "Layout.html" %}

{% block body %}

<head>
  <link href="../static/style/Style.css" rel="stylesheet">
  <link  rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style/Style.css') }}">
  <link href="../static/style/Blockchain.css" rel="stylesheet">
  <link  rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style/Blockchain.css') }}">
  <style>
    .Background {
      padding-top: 40px;
    }
  </style>
</head>

<h1 class="BlockNumber">View Block {{ Number }}</h1>

<div class="BlockData">
  <label id="BlockDataLABEL">
    <strong>Block Number:</strong> {{ Number }}
  </label>
  <hr>
  <label id="BlockDataLABEL">
    <strong>Block Nonce:</strong> {{ Nonce }}
  </label>
  <hr>
  <label id="BlockDataLABEL">
    <strong>Block Hash:</strong> {{ Hash }}
  </label>
  <hr>
  <label id="BlockDataLABEL">
    <strong>Block Previous Hash:</strong> {{ PreviousHash }}
  </label>
  <hr>
</div>


<div class="BlockContainer">
  <table class="BlockContainerTable">
    <thead class="BlockContainerHead">
      <tr id="BlockContainerHeadTR">
        <th id="BlockContainerHeadTH">Hash</th>
        <th id="BlockContainerHeadTH">Transactions</th>
      </tr>
    </thead>

    <tbody class="BlockContainerBody">
      {% for Block in BlockData %}
        <tr id="BlockContainerBodyTR">
          <td id="BlockContainerBodyTD">
            <strong>{{ Block.Hash }}</strong></td>
          <td id="BlockContainerBodyTD">
            <strong>{{ Block.Data }}</strong></td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>


{% endblock %}
