{% extends 'Layout.html' %}

{% block body %}

<head>
  <link href="../static/style/Style.css" rel="stylesheet">
  <link  rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style/Style.css') }}">
  <link href="../static/style/Trade.css" rel="stylesheet">
  <link  rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style/Trade.css') }}">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://js.stripe.com/v3/"></script>
</head>


<form class="Form" action="/buy" method="post">
  <h1 class="BlackTitle">Buy WalletCoins</h1>
  <div style="padding-bottom: 20px;"></div>

  <div id="Buy-Balance">
    <p class="ClassicText">Your balance: {{ Balance }} WLLC</p>
  </div>

  <div class="Amount-DIV">
    <input class="Input" id="Amount" type="number" name="Amount" placeholder="Amount" required>
  </div>

  <div class="CalculatedAmount"></div>
  <div class="Notification"></div>
  
  <input id="BuyWalletCoins" type="submit" value="Buy Now">


  <script type="text/javascript">
    const Amount = document.querySelector("#Amount");
    const CalculatedAmount = document.querySelector(".CalculatedAmount");
    const BuyButton = document.querySelector("#BuyWalletCoins");
    const Notification = document.querySelector(".Notification");

    let Price = parseFloat("{{ Price }}");


    Amount.addEventListener("input", () => {
      if (MinBetweenMax()) {
        if ( Notification.innerHTML != "" ) {
          Notification.innerHTML = "";
        }

        BuyButton.style.display = "block";
      } else {
        Notification.innerHTML = "Min 10 €, Max 100,000 €.";
        BuyButton.style.display = "none";
      }

      CalculatePrice();
    })



    function MinBetweenMax() {
      if ( Amount.value >= 10 && Amount.value <= 100000 ) {
        return true;
      }

      return false;
    }



    function CalculatePrice() {
      if ( Price != null ) {
        let Final = 0;


        // How much walletcoins is those euros
        Final = parseInt(Amount.value.toString()) / Price;
        

        // Calculate fees
        var Fee = (Final * 0.5) / 100.0
        Final -= Fee


        CalculatedAmount.innerHTML = `= ${Final} WLLC ( - ${Fee} Fee )`;
        return Final;
      }
    }
  </script>
</form>


<div style="padding-bottom: 250px;"></div>

{% endblock %}
