{% extends 'Layout.html' %}

{% block body %}

<head>
  <link href="../static/style/Style.css" rel="stylesheet">
  <link  rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style/Style.css') }}">
  <link href="../static/style/Trade.css" rel="stylesheet">
  <link  rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style/Trade.css') }}">
</head>


<div class="Form">
  <h1 class="ClassicTitle">Sell WalletCoins</h1>
  <div style="padding-bottom: 20px;"></div>

  <div id="Sell-Balance">
    <p class="ClassicText">
      <strong>Your balance: {{ Balance }} WLLC</strong>
    </p>
  </div>
  

  <div class="Information">
    <div id="BankAccount">
      <label class="SellPayoutMethodLabel">Payout in your bank:</label>
      <input class="Input" id="Country" type="text" name="Country" placeholder="Country Code">
      <input class="Input" id="CurrencyCode" type="text" name="CurrencyCode" placeholder="Currency Code ( e.g. EUR, USD )">
      <input class="Input" id="HolderName" type="text" name="HolderName" placeholder="Holder Name">
      <input class="Input" id="HolderType" type="text" name="HolderType" placeholder="Holder Type ( individual or business )">

      <div class="Form-CheckBox">
        <input class="CheckBox" id="European" type="checkbox" name="European" onchange="EuropeanCitizenCheckChange();">
        <label id="Form-CheckBox-Label">Im European or UK citizen</label>
      </div>

      <input class="Input" id="RoutingNumber" type="text" name="RoutingNumber" placeholder="Routing Number">
      <input class="Input" id="AccountNumber" type="text" name="AccountNumber" placeholder="Account Number">
      <input class="Input" id="IBAN" type="text" name="IBAN" placeholder="IBAN Number">
    </div>
  </div>


  <div class="Amount-DIV">
    <input class="Input" id="Amount" type="number" name="Amount" placeholder="Amount" required>
  </div>


  <div class="CalculatedAmount"></div>
  <div class="Notification"></div>

  <button class="SellWalletCoins" onclick="GetPaidNow();">Sell WalletCoins</button>

  
  <script type="text/javascript">
    const BankAccount = document.querySelector("#BankAccount");
    const BankAccount_Country = document.querySelector("#BankAccount #Country");
    const BankAccount_Currency = document.querySelector("#BankAccount #CurrencyCode");
    const BankAccount_HolderName = document.querySelector("#BankAccount #HolderName");
    const BankAccount_HolderType = document.querySelector("#BankAccount #HolderType");
    const BankAccount_EuropeanCitizenCheck = document.querySelector("#BankAccount #European");
    const BankAccount_RoutingNumber = document.querySelector("#BankAccount #RoutingNumber");
    const BankAccount_AccountNumber = document.querySelector("#BankAccount #AccountNumber");
    const BankAccount_IBAN = document.querySelector("#BankAccount #IBAN");
    const Amount = document.querySelector("#Amount");
    const CalculatedAmount = document.querySelector(".CalculatedAmount");
    const Notification = document.querySelector(".Notification");
    const SellButton = document.querySelector(".SellWalletCoins");

    let Price = parseFloat("{{ Price }}");
    let EuropeanCitizen = false;


    EuropeanCitizenCheck();
    

    function EuropeanCitizenCheckChange() {
      if ( EuropeanCitizenCheck.checked == true ) {
        EuropeanCitizenCheck.checked = false;
      } else {
        EuropeanCitizenCheck.checked = true;
      }

      EuropeanCitizenCheck();
    }


    function EuropeanCitizenCheck() {
      EuropeanCitizen = EuropeanCitizenCheck.checked;

      if ( EuropeanCitizenCheck.checked == true ) {
        BankAccount_IBAN.style.display = "block";
        BankAccount_RoutingNumber.style.display = "none";
        BankAccount_AccountNumber.style.display = "none";

        EuropeanCitizen = true;
      } else {
        BankAccount_RoutingNumber.style.display = "block";
        BankAccount_AccountNumber.style.display = "block";
        BankAccount_IBAN.style.display = "none";

        EuropeanCitizen = false;
      }
    }


    Amount.addEventListener("input", () => {
      if (Min()) {
        if ( Notification.innerHTML != "" ) {
          Notification.innerHTML = "";
        }
      } else {
        Notification.innerHTML = "Min 10 €.";
      }
    })



    function Min() {
      if ( Amount.value >= 10 ) {
        return true;
      }

      return false;
    }



    function CalculatePrice() {
      if ( Price != null ) {
        let Final = 0;


        // How much walletcoins is those euros
        Final = Amount.value / Price;

        // Calculate fees
        var Fee = (Final * 0.5) / 100.0
        Final -= Fee


        CalculatedAmount.innerHTML = `= ${Final} WLLC ( - ${Fee} Fee )`;
      }
    }
    


    function GetPaidNow() {
      if (Min()) {
        let RequestBody = {};


        if ( BankAccount_Country.value.lenght == 0 || BankAccount_Currency.value.lenght == 0 || BankAccount_HolderName.value.lenght == 0 || BankAccount_HolderType.value.lenght == 0 ) {
          return;
        }

        if ( BankAccount_HolderType.value != "individual" && BankAccount_HolderType.value != "business" ) {
          return;
        }


        Notification.innerHTML = "Processing...";
        SellButton.value.display = "none";

        
        RequestBody = {
          "Amount": parseFloat(Amount.value),
          "Bank": {
            "Currency": BankAccount_Currency.value,
            "CountryCode": BankAccount_Country.value,
            "HolderName": BankAccount_HolderName.value,
            "HolderType": BankAccount_HolderType.value
          }
        }


        RequestBody["Bank"]["European"] = EuropeanCitizen;

        if ( EuropeanCitizen == true ) {
          if ( BankAccount_IBAN.value.lenght == 0 ) {
            return;
          }

          RequestBody["Bank"]["IBAN"] = BankAccount_IBAN.value;
        } else {
          if ( BankAccount_RoutingNumber.value.lenght == 0 || BankAccount_AccountNumber.value.lenght == 0 ) {
            return;
          }

          RequestBody["Bank"]["RoutingNumber"] = BankAccount_RoutingNumber.value;
          RequestBody["Bank"]["AccountNumber"] = BankAccount_AccountNumber.value;
        }


        fetch("/sell", {
          method: "POST",
          body: JSON.stringify(RequestBody)
        })
        .then((response) => {
          if ( response.status != 200 ) {
            switch (response.status) {
              case 400:
                Notification.innerHTML = "Min 10 €.";
                break;
              
              case 500:
                Notification.innerHTML = "Internal server error.";
                break;
            }
          }

          return response.json();
        })
        .then((data) => {
          if ( "Url" in data ) {
            window.location.href = data["Url"];
          }
        })
        

        SellButton.value.display = "block";
      }
    }
  </script>
</div>


<div style="padding-bottom: 250px;"></div>


{% endblock %}
