{% extends 'Layout.html' %}

{% block body %}

<head>
  <link href="../static/style/Style.css" rel="stylesheet">
  <link  rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style/Style.css') }}">
  <link href="../static/style/Trade.css" rel="stylesheet">
  <link  rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style/Trade.css') }}">
</head>


<div class="Form">
  <h1 class="ClassicTitle">Send WalletCoins</h1>
  <div style="padding-bottom: 20px;"></div>

  <p class="ClassicText">
    <strong>Your balance: {{ Balance }} WLLC</strong>
  </p>

  <input class="Input" id="Wallet" name="Wallet" type="text" placeholder="Wallet" required>
  <div class="Amount-DIV">
    <input class="Input" id="Amount" name="Amount" type="number" placeholder="Amount" required>
    <button class="CurrencyChangeButton" onclick="ChangeCurrency();"></button>
  </div>

  <div class="CalculatedAmount"></div>
  <div class="Notification"></div>

  <button class="SendWalletCoins" onclick="Transfer();">Send WalletCoins</button>


  <script type="text/javascript">
    const Recipient = document.querySelector("#Wallet");
    const Amount = document.querySelector("#Amount");
    const CurrencyChangeButton = document.querySelector(".CurrencyChangeButton");
    const CalculatedAmount = document.querySelector(".CalculatedAmount");
    const Notification = document.querySelector(".Notification");

    let Currency = "EUR";
    let Price = parseFloat("{{ Price }}");

    ChangeCurrency();



    function ChangeCurrency() {
      CurrencyChangeButton.innerHTML = Currency;

      if ( Currency == "EUR" ) {
        Currency = "WLLC";
      } else {
        Currency = "EUR";
      }
    }



    Amount.addEventListener("input", () => {
      if (Min()) {
        if ( Notification.innerHTML != "" ) {
          Notification.innerHTML = "";
        }
      } else {
        Notification.innerHTML = "Min 3 €.";
      }
    })



    function Min() {
      if ( Currency == "EUR" ) {
        if ( Amount.value >= 3 ) {
          return true;
        }
      } else {
        if ( Amount.value * Price >= 3 ) {
          return true;
        }
      }

      return false;
    }



    function CalculatePrice() {
      if ( Price != null ) {
        let Final = 0;


        if ( Currency == "WLLC" ) {
          // How much euros is those walletcoins
          Final = Price * Amount.value
        } else {
          // How much walletcoins is those euros
          Final = Amount.value / Price
        }
        

        // Calculate fees
        var Fee = (Final * 0.5) / 100.0
        Final -= Fee


        CalculatedAmount.innerHTML = `= ${Final} ${Currency} ( - ${Fee} Fee )`;
      }
    }
    


    function Transfer() {
      if (Min() && Recipient.value != "" && Amount.value > 0) {
        let ResponseCode = 0;


        fetch("/transaction", {
          method: "POST",
          body: JSON.stringify({
            "Currency": Currency,
            "Receiver": Recipient.value,
            "Amount": parseFloat(Amount.value)
          })
        })
        .then((response) => {
          if ( response.redirected ) {
            window.location.href = response.href;
          } else {
            ResponseCode = response.status;
            
            if ( ResponseCode == 500 ) {
              Notification.innerHTML = "Internal server error.";
            }
          }
        })
        .then((data) => {
          if ( ResponseCode != 500 ) {
            Notification.innerHTML = data.result;
          }
        })
      }
    }
  </script>
</div>

<div style="padding-bottom: 300px;"></div>


{% endblock %}
